:root {
    --gap: 24px;
    --masthead-height: 200px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: calc(var(--masthead-height));
    margin-inline-start: auto;
    margin-inline-end: auto;
    background-image: url("/theme/NighttimeGradient.png");
}

@media (prefers-color-scheme: light) {
    .navbar {
        background-image: url("/theme/DaytimeGradient.png");
    }
}

.cloud {
    width: 203px;
    height: 121px;
    background: url("/theme/spritesheet_default.png") -250px -365px;
    /*background-position: 250px 365px;*/
    position: absolute;
}

.navbar #logo {
    font-size: 32px;
    font-family: "Delicious Handrawn", cursive;
    font-style: normal;
    font-weight: bold;
    color: var(--text-color);
    margin: auto var(--gap);
    margin-top: 22px;
    margin-left: 42px;
    z-index: 100;
}

.navbar #menu {
    list-style: none;
    display: flex;
    margin: auto var(--gap);
    margin-top: 24px;

}

.navbar #menu a {
    font-size: 16px;
}

.navbar #menu li + li {
    margin-inline-start: var(--gap)
}

.main-footer {
    text-align: center;
    margin-top: 40px;
}

.main-footer #badges {
    line-height: normal;
}

.badgelink {
    color: calc(var(--text-color));
}