:root {
    --masthead-link-gap: 12px;
    --masthead-height: 200px;
}

header {
    height: calc(var(--masthead-height));
    margin-inline-start: auto;
    margin-inline-end: auto;
    background-image: url("/theme/NighttimeGradient.png");
    display: flex;
    flex-direction: column;
}

@media (prefers-color-scheme: light) {
    header {
        background-image: url("/theme/DaytimeGradient.png");
    }
}

.cloud {
    width: 203px;
    height: 121px;
    background: url("/theme/spritesheet_default.png") -250px -365px;
    /*background-position: 250px 365px;*/
    position: absolute;
}

nav {
    background-color: rgb(60, 60, 60);
    display: flex;
    overflow: auto;
    padding: 0 18px 0 32px;
    height: 42px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.25);
    z-index: 100;

    a {
        color: white;
    }
}

nav span#sitename {
    margin-right: auto;
    color: white;
    font-weight: bold;
    font-size: 18px;

    a {
        font-family: "Delicious Handrawn", cursive;
        font-size: 24px;
        font-style: normal;
    }
}

nav li.masthead-link {
    list-style: none;
    margin: auto var(--masthead-link-gap);
}

main {
    margin: 32px auto 32px auto;
    padding: 0 16px 0 16px;
}

.main-footer {
    text-align: center;
    margin-top: 40px;
}

.main-footer #badges {
    line-height: normal;
}

.badgelink {
    color: calc(var(--text-color));
}